body {
  padding-top: 60px;
}

.form-centered {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-post {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.btn-red:hover {
	color: #fff;
	background-color: #d2322d;
	border-color: #ac2925;
}

.btn-red {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.navbar-red {
    background-color:#d9534f;
    color:#ffffff;
    border-radius:0;
}

.navbar-red .navbar-nav > li > a {
    color: #fff;
}

.navbar-red .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #d2322d;
}

.navbar-red .navbar-brand {
    color:#eeeeee;
}

.navbar-red .navbar-brand:hover {
    color:#eeeeee;
    background-color: #d2322d;
}

.meme-info {
    padding-top: 10px;
    font-size: 16px;
}

.meme-title {
    font-size: 30px;
}